{%- set resume = config['resume'] -%}
{%- set personal = resume['personal'] -%}
{%- set skills = resume['skills'] -%}
{%- set education = resume['education'] -%}
{%- set experience = resume['experience'] -%}
{%- set projects = resume['projects'] -%}
{%- set publications = resume['publications'] -%}
{%- set awards = resume['awards'] -%}

{%- set layout = config.get('layout', {}) -%}
{%- set sections = layout.get('sections', [ 'education', 'skills', 'experience', 'projects', 'publications', 'awards']) -%}
<!DOCTYPE html>
<html>
<head>
	<style>
		* {
			font-family: "Times New Roman", Times, serif;
		}
		body {
		    margin: 0;
		    padding: 0;
		    width:1240px;
		    height:1753px;
		}

		div.page {
		    margin: 150px;
		}

		div.personal {
			margin: 0 auto 0 auto;
			width: 180px;
		}

		.left {
			float: left;
		}

		.right {
			float: right;
		}

		h1 {
			color: #008888;
			margin: .2em 0 .2em 0;
		}

		p {
			margin: 0;
			font-size: 22px;
		}

		ul {
			margin: 0;
		}
	</style>
</head>

<body>
	<div class="page">


		<div class="personal">
			<h1>{{ personal['name'] }}</h1>
		</div>

		{%- for section in sections -%}

		<h1>{{ section.capitalize() }}</h1>

		{% if section == 'education' -%}
		{% for school in education -%}
		{% for name, details in school.iteritems() -%}
		<p class='left'>{{ name }}, Major: {{ details['major'] }}</p>
		<p class='right'> GPA: {{ details['gpa'] }}</p>
		<div style='clear:both;'></div>
		<p>Expected Graduation: {{ details['graduation']['month'] }} {{ details['graduation']['year'] }}</p>
		{% endfor -%}
		{% endfor -%}
		{% endif -%}

		{% if section == 'skills' -%}
		{% for category in skills -%}
		<p>{{ category.capitalize() }}: {{ ", ".join(skills[category]) }}</p>
		{% endfor -%}
		{% endif -%}

		{% if section == 'experience' -%}
		{% for job in experience -%}
		{% for name, details in job.iteritems() -%}
		<p class='left'><b>{{ name }}</b></p>
		<p class='right'>{{ details['from'] }} - {{ details['to'] }}</p>
		<div style='clear:both;'></div>
		<p><i>{{ details['title'] }}</i></p>
		<ul>
			{% for bullet in details['bullets'] -%}
			<li><p>{{ bullet }}</p></li>
			{% endfor -%}
		</ul>
		{% endfor -%}
		{% endfor -%}
		{% endif -%}

		{% if section == 'projects' -%}
		{% for project in projects -%}
		{% for name, details in project.iteritems() -%}
		<p><b>{{ name }}</b></p>
		<ul>
			{% for bullet in details['bullets'] -%}
			<li><p>{{ bullet }}</p></li>
			{% endfor -%}
		</ul>
		{% endfor -%}
		{% endfor -%}
		{% endif -%}

		{% if section == 'publications' -%}
		{% for publication in publications -%}
		{% for name, details in publication.iteritems() -%}
		<p><b>{{ name }}</b></p>
		<ul>
			{% for bullet in details['bullets'] -%}
			<li><p>{{ bullet }}</p></li>
			{% endfor -%}
		</ul>
		{% endfor -%}
		{% endfor -%}
		{% endif -%}

		{% if section == 'awards' -%}
		{% for award in awards -%}
		{% for name, details in award.iteritems() -%}
		<p>{{ name }}</p>
		<ul>
			{% for bullet in details['bullets'] -%}
			<li><p>{{ bullet }}</p></li>
			{% endfor -%}
		</ul>
		{% endfor -%}
		{% endfor -%}
		{% endif -%}

		{%- endfor -%}
	</div>
</body>
</html>
